.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
.nvmrc
.prettierrc
commitlint.config.mjs
eslint.config.mjs
jest.config.ts
lint-staged.config.mjs
tsconfig.json
coverage/
.husky/
.github/
*.test.ts
__mocks__/
CHANGELOG.md
CONTRIBUTING.md
README.md
LICENSE.md
**/*.map
**/*.ts
**/.vscode-test.*